*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-image: url(/img/img1.gif),url(/img/img2.jpg) ;
    background-repeat: no-repeat,no-repeat;
    height: 100px;
    width: 500px;
    background-position: right bottom,left top;
}