*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* CSS bai 2 */
.heading {
    margin-top: 20px;
    text-align: center;
}
.heading__text{
    box-shadow: 5px 5px 5px 1px;
    background-color: #dead63;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    display: inline-block
     
}
/* CSS bai 3 */
.main__3a {
    margin-top: 20px;
    text-align: center;
}
.main__3-text{
    box-shadow: 5px 5px 5px 1px;
    background-color: #c1c1c1;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    display: inline-block
}

.main__3b{
    box-shadow: 5px 5px 5px 1px;
    margin-top: 20px;
    background-color: #dead63;
    width: 50%;
    margin-left: 25%;
}


/* CSS bai 4 */

.main4__1 {
    box-shadow: 5px 5px 5px 1px;
    margin-top: 20px;
   width: 100px;
    margin-left: 50%;
   background-color: #e5e5e5;
}
.main4__1-text{
    box-shadow: 5px 5px 5px 1px;
    padding-left: 30px;
    text-align: center;
}

.main4__2 {
    box-shadow: 5px 5px 5px 1px;
    background-color: #ffd699;
    height: 600px;
    width: 300px;
    margin-top: 20px;
    margin-left: 45%;
}

.main4__2 li {
    margin-left: 30px;
}

/* CSS bai 5 */
.main__5 {
    box-shadow: 5px 5px 5px 1px;
    background-color: #d0d0d0;
    width: 300px;
    padding-left: 20px;
    margin-top: 20px;
    margin-left: 45%;
}

.main__5-1{
    box-shadow: 5px 5px 5px 1px;
    background-color: #d0d0d0;
    width: 400px;
    padding: 20px;
    margin-top: 30px;
   margin-left: 42%;
   
}
/* CSS bai 6 */

.main6_table a{
    color: rgb(255, 12, 12);
}
.main6_table2{
    box-shadow: 5px 5px 5px 1px;
    background-color: #d0d0d0;
    width: 200px;
    padding: 20px;
    margin-top: 30px;
   margin-left: 42%;
}
.main6_table3{
    box-shadow: 5px 5px 5px 1px;
    background-color: #d0d0d0;
    width: 200px;
    padding: 20px;
    margin-top: 30px;
   margin-left: 42%;
}
.main6_table4{
    box-shadow: 5px 5px 5px 1px;
    background-color: #cbd122;
    width: 440px;
    height: 210px;
    padding: 20px;
    margin-top: 30px;
   margin-left: 42%;
   text-align: center;
   padding-left: 50px;
   margin-bottom: 20px;
}

/* CSS bai 7 */
.main7{
    box-shadow: 5px 5px 5px 1px;
    background-color: #f1e7e7;
    width: 1000px;
    height: 550px;
   padding: 20px;
   margin-bottom: 40px;
}

.main7 p{
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main7__img{
   
    max-width: 5%;
    height: auto;

}

.main7__img-icon1{
    max-width: 5%;
    height: auto;

}
.main7__img-icon2{
    max-width: 5%;
    height: auto;
    vertical-align: middle;
}

.main7__img-icon3{
     max-width: 5%;
    height: auto;
    vertical-align: text-top;

}

.main7__img-icon4{
    max-width: 5%;
    height: 4%;
    margin-left: 10px;
}

.main7__img-icon5{
    max-width: 5%;
    height: 4%;
    margin-right: 10px;
}
/* CSS bai 9 */
.main9{
    margin-left: 40%;
    margin-bottom: 20px;
}
.main9 table{
    border: 3px solid rgb(201, 201, 85);
    width: 30%;
    background-color: rgb(213, 227, 10);
    text-align: center;
}
.main9 tr{
    border: 2px solid;
}


